@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap");

/* Reset */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Variables */
:root {
	/* colors */
	--PRIMARY-COLOR: #f8f7ff;
	--SECONDARY-COLOR: #ffeedd;
	--SEMI-DARK-COLOR: #b8b8ff;
	--DARK-COLOR: #4a00e0;
	--ALTERNATIVE-COLOR: #ffd8be;
}

/* General Styles */
body {
	max-width: 100%;
	height: 100vh;
	font-family: "Ubuntu", sans-serif;
	background: url(/img/wave.svg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: row;
}

/* Navbar */
nav {
	width: 9rem;
	height: 100vh;
	background-color: var(--DARK-COLOR);
}

.nav-content {
	display: flex;
	flex-direction: column;
	text-align: center;
	/* padding: 1rem; */
	height: 100%;
}

.nav-head {
	border-bottom: solid 1px var(--SEMI-DARK-COLOR);
	padding: 1rem 0;
	color: var(--PRIMARY-COLOR);
}

.nav-head h1 {
	font-size: 3.5rem;
	text-shadow: 5px -5px 20px var(--SECONDARY-COLOR);
	font-weight: 700;
	margin-top: 0.5rem;
}

.nav-head h2 {
	font-size: 2rem;
	margin-bottom: 0.5rem;
}

.nav-head p {
	font-size: 0.9rem;
	margin: 1rem 0;
}

.nav-links {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 100%;
	/* padding: 1.2rem; */
}

.ul-container {
	list-style: none;
}

.ul-container li {
	border-bottom: solid 1px var(--SEMI-DARK-COLOR);
	padding: 1rem 0;
}

.ul-container li a {
	text-decoration: none;
	font-size: 1.1rem;
	color: var(--PRIMARY-COLOR);
	margin: 1rem 0;
}

.ul-container li a:hover,
.ul-container li a:focus {
	color: var(--SEMI-DARK-COLOR);
}

/* end of navbar */

/* Main */

main {
	width: 90%;
	max-height: 100vh;
	margin: 1.2rem;
	/* background: url(/img/wave.svg); */
}

.main-content {
	padding-left: 4rem;
}

.split-content {
	display: flex;
	flex-flow: row;
	width: 100%;
	height: 90vh;
	gap: 2rem;
}

.main-header-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-header-content h1 {
	font-size: 3rem;
	font-weight: 700;
	color: var(--DARK-COLOR);
	margin-bottom: 1.2rem;
}

.main-header-content p {
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.5;
	margin: 0.5rem 0;
}

.main-header-content a {
	text-decoration: none;
	font-size: 1.2rem;
	color: var(--DARK-COLOR);
	margin: 1rem 0;
}

.split-photos {
	width: 100%;
	padding: 1.2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.split-photos img {
	width: 65%;
	margin: 1rem 0;
	border-radius: 20px;
}
